<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Shared.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Edu_connect"
        tools:targetApi="31">
        <activity
            android:name=".View.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".View.CourseStoredActivity"
            android:exported="false" />
        <activity
            android:name=".View.TestEditActivity"
            android:exported="false" />
        <activity
            android:name=".View.TeacherTestChooseActivity"
            android:exported="false" />
        <activity
            android:name=".View.TeacherTestResultActivity"
            android:exported="false" />
        <activity
            android:name=".View.TestHomeActivity"
            android:exported="false" />
        <activity
            android:name=".View.TestResultActivity"
            android:exported="false" />
        <activity
            android:name=".View.TakeATestActivity"
            android:exported="false" />
        <activity
            android:name=".View.TestDetailActivity"
            android:exported="false" />
        <activity
            android:name=".View.PostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".View.CreateTestActivity"
            android:exported="false" />
        <activity
            android:name=".View.InviteClassActivity"
            android:exported="false" />
        <activity
            android:name=".View.StudentHomeActivity"
            android:exported="false" />
        <activity
            android:name=".View.CreatePostActivity"
            android:exported="false" />
        <activity
            android:name=".View.CourseMainActivity"
            android:exported="false" />
        <activity
            android:name=".View.CourseHomeActivity"
            android:exported="false" />
        <activity
            android:name=".View.CreateClassActivity"
            android:exported="false" />
        <activity
            android:name=".View.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.TeacherHomeActivity"
            android:exported="false" />
        <activity
            android:name=".View.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".View.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>